.logo{
    float: left;
    width: 33%;
    height: 60px;
    line-height: 60px;
    /*border: 1px solid red;*/
}

#dao_hang{
    background-color: black;
}

/*
    line-height行高,只针对行元素，height针对其他所有元素
    line-height和height组合到一块儿，还有一种效果，
    就是如果把它们的值设置的一样了，文字就会在垂直方向居中
*/
.amenu{
    color: white;
    text-decoration: none;  /*去掉文字的下划线*/
    height: 50px;
    line-height: 50px;
}

.bottom{
    text-align: center;
}

.product{
    width: 16%;
    float: left;
    height: 240px;
    text-align: center;
}